dj-database-url==0.4.0
Django==1.9.4
Markdown==2.6.5
argparse==1.2.1
django-filter==0.13.0
djangorestframework==3.3.3
django-compressor==2.0
gunicorn==19.4.5
whitenoise==2.0.6
BeautifulSoup==3.2.1
psycopg2==2.6.1
dj-json-env==0.1.2
