<div class="row" ng-init="init(post.id)">
  <div class="col-sm-12">
    <div class="well">
      <div class="post">
        <blockquote>
          <p class="post-title">
            {{ post.title }}
          </p>
          <small>
            {{ post.user.username }} ({{ post.user.email }})
          </small>
        </blockquote>
        <pre>
          {{ post.description }}
        </pre>
        <ul class="media-list">
          <li class="media" ng-repeat="comment in comments">
            <a class="media-left" href="#"></a>
            <div class="media-body">
              <p>
                <u>{{ comment.user.username }}</u>: <pre>{{ comment.description }}</pre>
              </p>
              
            </div>
          </li>
        </ul>

        <div class="well well-sm" ng-show="showAddCommentForm">
          <form role="form" ng-submit="addComment(post.id, null, comment)">
            <div class="form-group">
              <textarea class="form-control" 
                        id="description" 
                        rows="3" 
                        placeholder="Add your comment here." 
                        ng-model="comment">
              </textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-xs">Save</button>
              <button class="btn btn-default btn-xs" ng-click="showAddCommentForm = false">Close</button>
            </div>
          </form>
        </div>
        
        <button type="submit" class="btn btn-success" ng-click="showAddCommentForm = true">Comment</button>
        <!-- <button type="submit" class="btn btn-primary">Edit</button> -->
        <!-- <button type="submit" class="btn btn-danger">Delete</button> -->
      </div>
    </div>
  </div>
</div>
